body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: 15px; 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin: 0;	
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}          

.header {
	background: rgba(77,192,254,1);
	background: -moz-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 62px;
	padding-bottom: 120px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer{
	margin-top: 148px;
	width: 570px;
}

.title{
	font-size: 37px;
	margin-bottom: 25px;
}

.title span {
	font-size: 59px;
}

.text {
	font-style: 16px;
	font-family: 'Open sans', sans-serif; 
	margin-bottom: 33px;
	width: 405px;
}

p {
	line-height: 1.6em;
}

.btn {
	background: #ffd429;
	font-family: 'Montserrat', sans-serif;
	color: #2e2a1b;
	display: block;
	width: 222px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #f5c242;
}

.desktop {
	margin-top: 33px;
}

.learn {
	padding-top: 100px;
	padding-bottom: 110px;
}

.section-title{
	font-size: 30px;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.skill {
	width: 309px;
	background: url('../img/icon1.jpg') no-repeat center top;
	padding-top: 80px;
	margin-top: 72px;
}	

.skill-title {
	font-size: 19px;
}

.skill-text {
	font-family: 'Ubuntu', sans-serif;
	font-style: 400;
	margin-top: 5px;
}

.skill-create {
	background: url('../img/icon3.jpg') no-repeat center top;
}	

.skill-palms {
	background: url('../img/icon2.jpg') no-repeat center top;
}

.form {
	padding-top: 103px;
	padding-bottom: 110px;
	background: #ecf3f8;
}

.forms {
	text-align: center;
	padding-top: 48px;
}

.input {
	width: 343px;
	border: 1px solid #bbbbbb;
	font-family: 'Ubuntu' sans-serif;
	font-style: 400;
	color: #bbbbbb;
	font-size: 15px;
	border-radius: 3px;
	height: 48px;
	padding-left: 26px;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	margin-top: 7.5px;
	width: 369px;
	display: inline;
}

.footer {
	background: #164d7a;
	padding: 63px 0;
}

.credits {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 0;

}